# Serveur
PORT=3000
SESSION_SECRET=change-moi-en-une-longue-chaine-aleatoire

# Connexion admin
ADMIN_EMAIL=admin@macin.com
ADMIN_PASSWORD=change-moi

# Connexion formateur (compte de démo)
INSTITUTOR_EMAIL=formateur@macin.com
INSTITUTOR_PASSWORD=change-moi

# URL APK Android (laisser vide si pas encore prêt)
APK_DOWNLOAD_URL=

# Firebase
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

# Cloudflare R2
R2_ACCOUNT_ID=4f2ee6f3f688c6931478532e9f1567f5
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=macin-project
R2_ENDPOINT=https://4f2ee6f3f688c6931478532e9f1567f5.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-97e4f5e869784f06ac1c0b0fea0f0ed4.r2.dev
